In [1]:
str='Keerthi'
#string
print(str)

Keerthi

In [2]:
l=[2,3,4.0,'keer',1+2j]
#list
print(l)

[2, 3, 4.0, 'keer', (1+2j)]

In [3]:
f=3.456 
#float
print(f)

3.456

In [4]:
t=(2,3,4,'keer','kk')
#tuple
print(t)

(2, 3, 4, 'keer')

In [27]:
var1, var2, var3, var4= '', '[DS,ML,Python]',['DS','ML','Python'],1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [22]:
a,b=5,3
c,d,e,f=a/b,a%b,a//b,a**b
print(c, d, e, f)

1.6666666666666667 2 1 125

In [23]:
l=[2,3,4.5,6,'keer','kk',1+2j,8,9,'ten']
for i in l:
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
6 <class 'int'>
keer <class 'str'>
kk <class 'str'>
(1+2j) <class 'complex'>
8 <class 'int'>
9 <class 'int'>
ten <class 'str'>

In [30]:
a=int(input())
b=int(input())
while a%b==0:
    print(a, 'is divisible by', b)
    r=a/b
    print(r)
    break
else:
    print(a, 'is not divisible by', b )

12
4
12 is divisible by 4
3.0

In [37]:
l=[10,23,32,42,54,6,7,18,9,100,11,12,131,14,15,216,17,128,19,20,215,227,239,245,252]
for i in l:
    if(i%3==0):
        print(i,'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

10 is not divisible by 3
23 is not divisible by 3
32 is not divisible by 3
42 is divisible by 3
54 is divisible by 3
6 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
9 is divisible by 3
100 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
131 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
216 is divisible by 3
17 is not divisible by 3
128 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
215 is not divisible by 3
227 is not divisible by 3
239 is not divisible by 3
245 is not divisible by 3
252 is divisible by 3

In [43]:
l=[2,5,'keerthi','pwskills',4.5]
l[2]='kk'
print(l)
#this is an example of mutable property

[2, 5, 'kk', 'pwskills', 4.5]

In [44]:
str='keerthi'
str[3]='k'
#this is an example of immutable property

TypeError: 'str' object does not support item assignment